<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
<div class="card">
  <img class="card-img-top" width="100%" src="<%= @profile.picture %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= @profile.full_name %></h4>
    <p class="card-text">Hobbies: <br><%= @profile.hobbies %></p>
    <% if current_user == @profile.user %>
    <%= link_to 'Edit', edit_profile_path(@profile),class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
