<h1>Welcome to FaceFactory</h1>


<% if user_signed_in? %>
<% if current_user.profile %>
<div class="row">
	<div class="col-md-4">
		<%= render 'status_updates/form' %>
		<% @status_updates.each do |status| %>
		<div class="card card-block">
			<% unless status.image.nil? %>
			<img src="<% status.image %>"
			class="" width="100%">
			<% end %>
			<p><%= link_to status.user.profile.full_name, profile_path(status.user.profile) %></p>
			<p><%= status.status %></p>
			<p>Posted on: <%=
			time_ago_in_words(status.created_at) %></p>
		</div>
		<% end %>

	</div>
</div>

<% else %>
	<%= render 'profiles/form' %>

	<% end %>
<% end %>

